<p id="notice"><%= notice %></p>
<div id='code_note'>


<p>Beste collega, <br />
Welkom op de Seacon kerst pagina! Hier kun je zelf een keuze maken voor jouw kerstgeschenk 2016. <br />
Je hebt een persoonlijke code ontvangen, vul deze hier beneden in: (let op! hooflettergevoelig) 
</p>
 </div>
<%= form_tag(users_path, method: "get") do %>
  <%= text_field_tag(:unique_code) %>
  <br />
  <%= submit_tag("Enter") %>
<% end %>