<div id='code_note'>
<p>
  <h1> Bedankt voor je keuze! </h1>
</p>
<p>
  Je ontvangt je cadeaukaart op de kerstbijeenkomst van 15 december 2016 bij Seacon Stadion - de Koel.
</p>
</div>
<p id="notice">
  <img src="images/<%= notice %>"></img>
</p>




<p>
