// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  background: gray; 
  background-image: url('/images/bg-blue.png');
}

#container {
 background: white; 
 width: 800px;
 margin-left: 100px;
}
body > form {
  background: blue;
  display: block;
  height: 177px;
  width: 480px;
  align: center;
}

#code_note p {
	font-size:20px;
  line-height: 30px;
  padding: 10px;  
}
#unique_code { 
  display: inline-block;
  width: 600px;
  margin-left: 50px;
  font-size: 80px;
  font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="submit"]{  
  margin-left: 200px;
  margin-top: 25px;
  margin-bottom: 25px;

  
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:17px 61px;
	text-decoration:none;

}
.thumb {
width: 45%;  
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}